@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import '_reset';
@import '_variables';

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

main {
  position: relative;
  background: gray;
  overflow: hidden;
  color: #333333;
}

header {
  width: 100%;
  height: 80px;
  background: rgba(255, 255, 255, 0.6);

  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 260px;

  font-size: 16px;
  line-height: 24px;
  color: #333333;

  & .logo {
    width: auto;
    height: 40px;
    object-fit: cover;
  }

  & > nav {
    display: flex;
    align-items: center;
    & > a {
      font-size: 16px;
      line-height: 24px;
      color: #333333;

      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }

  & > .header-drop-down {
    display: flex;
    align-items: center;

    & > p {
      &:not(:last-child) {
        margin-right: 30px;
      }
    }

    & .uk-dropdown {
      width: 100px;
      min-width: unset;
      padding: 14px 17px;
      background: rgba(255, 255, 255, 0.6);
    }

    & .dropdown-list {
      width: 100%;
      background: transparent;
      font-size: 14px;
      line-height: 21px;
      text-align: center;
      color: #333333;

      & li {
        cursor: pointer;
      }

      & a {
        color: #333333;
      }
    }
  }

  @include mediaSizeForCustom(1440px) {
    padding: 0px 15px;
  }

  @include mediaSizeForCustom(1024px) {
    font-size: 12px;

    & > nav {
      & > a {
        &:not(:last-child) {
          margin-right: 12px;
        }
      }
    }

    .logo {
      width: 100px;
      height: auto;
    }
  }

  @include mediaSizeForMobile() {
    height: 50px;
    padding: 0px 15px;

    & > nav > a:not(:first-child) {
      display: none;
    }

    .header-drop-down {
      display: none;
    }

    .logo {
      width: 82px;
      height: auto;
    }

    .uk-offcanvas-overlay::before {
      background: rgba(0, 0, 0, 0.5);
    }

    .uk-offcanvas-bar {
      width: 70vw;
      background: #000000;
      padding: 0px 21px;
      display: flex;
      flex-direction: column;

      & .uk-close > svg {
        width: 28px;
        height: 28px;
        color: #81fbfc;
      }

      & .offcanvas-body {
        height: 100%;
        margin-top: 95px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 14px;
        line-height: 21px;
        color: #ffffff;

        & > nav {
          display: flex;
          flex-direction: column;
          font-size: 20px;
          line-height: 30px;
          margin-bottom: 100px;

          & > a:not(:last-child) {
            margin-bottom: 20px;
          }
        }

        & .link-list {
          margin-bottom: 34px;

          & > div:first-child {
            font-size: 14px;
            line-height: 21px;
            color: #81fbfc;
          }
        }
      }
    }
  }
}

section {
  width: 100vw;
  background-size: cover;
  background-position: center;
  position: relative;

  &#main {
    background-image: url('../img/main_bg.png');
    height: 1080px;

    & .logo {
      position: absolute;
      top: 26%;
      right: 15%;
      width: 622.8px;
      height: auto;
    }

    & .button-wrapper {
      position: absolute;
      top: 74%;
      right: 24%;

      & button {
        position: relative;
        width: 300px;
        height: 80px;
        background: #11152f;
        border-radius: 20px;
        font-weight: 700;
        font-size: 30px;
        line-height: 45px;
        border: none;
        outline: none;
        color: #ffdd00;
      }

      & .border {
        display: block;
        position: absolute;
        border: 1px solid #79f2f9;
        background-color: transparent;
        border-radius: 20px;
        width: 300px;
        height: 80px;

        &:first-child {
          bottom: -5px;
          right: -5px;
        }
        &:last-child {
          top: -5px;
          left: -5px;
        }
      }
    }

    & > nav {
      position: absolute;
      bottom: 10%;
      right: 15%;

      display: flex;
      justify-content: center;
      align-items: center;

      & > a {
        & > img {
          width: 30px;
          height: 30px;
        }

        &:not(:last-child) {
          margin-right: 15px;
        }
      }
    }

    @include mediaSizeForCustom(1024px) {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      & .logo {
        margin-top: 122px;
        position: relative;
        top: unset;
        right: unset;
        width: 500px;
        height: auto;
      }

      & .button-wrapper {
        position: absolute;
        top: unset;
        bottom: 40px;
        right: unset;
        left: 50%;
        transform: translateX(-50%);
      }

      & > nav {
        margin-top: 28px;
        position: relative;
        bottom: unset;
        right: unset;

        & > a {
          & > img {
            width: 36px;
            height: 36px;
          }

          &:not(:last-child) {
            margin-right: 15px;
          }
        }
      }
    }

    @include mediaSizeForMobile() {
      height: 640px;
      & .logo {
        width: 300px;
        height: auto;
      }
    }
  }

  &#story {
    background-image: url('../img/story_bg.png');
    height: 1080px;
    display: flex;
    justify-content: center;
    align-items: center;

    & .slide-wrapper,
    & .slide-wrapper-mobile {
      position: relative;
      width: 888px;
      height: 601px;
      background-image: url('../img/story_book.png');

      & .top-bg,
      & .top {
        position: absolute;
        left: 50%;
        top: -30px;
        transform: translateX(-50%);
        z-index: 4;
      }
      & .top {
        top: -70px;
      }

      & .uk-slideshow-items {
        width: 100%;
        height: 100%;

        & > img {
          object-fit: cover;
        }
      }
    }

    & .slide-wrapper-mobile {
      display: none;
      width: 668px;
      height: 630px;
      background-image: url('../img/story_book_mobile.png');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }

    @include mediaSizeForCustom(1024px) {
      padding: 0px 13px;

      & .slide-wrapper {
        display: none;
      }

      & .slide-wrapper-mobile {
        display: block;
        & .top-bg,
        & .top {
          top: -20px;
        }
        & .top-bg {
          width: 494px;
          height: 90px;
        }
        & .top {
          width: 304px;
          height: 74px;
          top: -40px;
        }
        & .uk-slideshow-items {
          & img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }

    @include mediaSizeForMobile() {
      height: 640px;

      & .slide-wrapper-mobile {
        width: 334px;
        height: 315px;

        & .top-bg,
        & .top {
          top: -10px;
        }
        & .top-bg {
          width: 247.13px;
          height: 45.71px;
        }
        & .top {
          width: 152px;
          height: 37.16px;
          top: -20px;
        }

        & a > img {
          width: 20px;
          height: 28px;
        }
      }
    }
  }

  &#project {
    height: 1080px;
    background-image: url('../img/project_bg.png');

    display: flex;
    justify-content: center;
    align-items: center;

    & article {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    & .characters {
      position: relative;

      & img {
        position: absolute;
        object-fit: cover;
      }

      & .pro-1 {
        top: 211px;
        left: 380px;
        width: 204px;
        height: auto;
      }

      & .pro-1-bg {
        top: 258px;
        left: 280px;
        width: 621.62px;
        height: auto;
      }

      & .pro-2 {
        top: 307px;
        left: 653px;
        width: 188px;
        height: auto;
      }

      & .pro-2-bg {
        top: 404px;
        left: 430px;
        width: 461.22px;
        height: auto;
      }
    }

    & .text {
      position: relative;
      display: flex;
      align-items: center;

      & > img {
        position: absolute;
        object-fit: cover;
      }
    }

    @include mediaSizeForCustom(1740px) {
      & .characters {
        position: relative;

        & .pro-1 {
          top: 22%;
          left: 43%;
          width: 180px;
          height: auto;
        }

        & .pro-1-bg {
          top: 25%;
          left: 25%;
          width: 500px;
          height: auto;
        }

        & .pro-2 {
          top: 29%;
          left: 72%;
          width: 165px;
          height: auto;
        }

        & .pro-2-bg {
          top: 32%;
          left: 37%;
          width: 350px;
          height: auto;
        }
      }

      & .text {
        & > img {
          width: 400px;
        }
      }
    }

    @include mediaSizeForCustom(1024px) {
      flex-direction: column;

      & .characters {
        position: relative;

        & .pro-1 {
          top: 10%;
          left: 22%;
          width: 180px;
          height: auto;
        }

        & .pro-1-bg {
          top: 30%;
          left: 10%;
          width: 500px;
          height: auto;
        }

        & .pro-2 {
          top: 20%;
          left: 55%;
          width: 165px;
          height: auto;
        }

        & .pro-2-bg {
          top: 43%;
          left: 31%;
          width: 350px;
          height: auto;
        }
      }

      & .text {
        & > img {
          width: 400px;
        }
      }
    }

    @include mediaSizeForMobile() {
      height: auto;

      & .characters {
        height: 320px;
        position: relative;
        margin-bottom: 70px;

        & .pro-1 {
          top: 10%;
          left: 22%;
          width: 108px;
          height: auto;
        }

        & .pro-1-bg {
          top: 30%;
          left: 10%;
          width: 329.35px;
          height: auto;
        }

        & .pro-2 {
          top: 20%;
          left: 55%;
          width: 100px;
          height: auto;
        }

        & .pro-2-bg {
          top: 43%;
          left: 31%;
          width: 244.36px;
          height: auto;
        }
      }

      & .text {
        height: 320px;
        & > img {
          width: 325px;
        }
      }
    }
  }

  &#token {
    height: 1080px;
    background-image: url('../img/token_bg.png');

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & > h2 {
      margin-bottom: 16px;
      font-weight: 800;
      font-size: 60px;
      line-height: 90px;
      color: #ffffff;
    }

    & > article {
      width: 920px;
      height: 540px;

      display: flex;
      align-items: center;
      justify-content: center;

      background: linear-gradient(
        68.48deg,
        rgba(0, 0, 0, 0.8) 29.17%,
        rgba(0, 0, 0, 0.24) 65.1%,
        rgba(0, 0, 0, 0.8) 92.19%
      );
      border: 2px solid #92d1df;
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
      border-radius: 20px;

      & > img {
        width: 751px;
        height: auto;
      }
    }

    @include mediaSizeForCustom(1024px) {
      padding: 0px 15px;

      & > h2 {
        text-align: center;
        font-size: 40px;
        line-height: 60px;
        margin-bottom: 34px;
      }

      & > article {
        width: 100%;
        height: 540px;
        padding: 15px;

        & > img {
          width: 100%;
          height: auto;
        }
      }
    }

    @include mediaSizeForMobile() {
      height: 530px;
      & > article {
        width: 100%;
        height: 220px;
        padding: 15px;

        & > img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  &#roadmap {
    height: 1080px;
    background-image: url('../img/roadmap_bg.png');
    display: flex;
    justify-content: center;
    align-items: center;

    & > article {
      position: relative;
      padding: 50px;
      width: 942px;
      height: 654px;

      background-image: url('../img/roadmap_body.png');
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);

      justify-items: center;
      align-items: center;

      & .roadmap-title {
        position: absolute;
        top: -30px;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    @include mediaSizeForCustom(1024px) {
      & > article {
        position: relative;
        padding: 50px;
        width: 328px;
        height: 746.64px;

        background-image: url('../img/roadmap_body_mobile.png');
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        & > img {
          width: 100%;
        }

        & .roadmap-title {
          position: absolute;
          top: -10px;
          left: 50%;
          width: 188.85px;
          height: 50px;
          transform: translateX(-50%);
        }
      }
    }

    @include mediaSizeForMobile() {
      height: 900px;
    }
  }

  &#team {
    height: 1080px;
    background-image: url('../img/team_bg.png');

    display: flex;
    justify-content: center;
    align-items: center;

    & .slider-wrapper,
    & .slider-wrapper-mobile {
      width: 1200px;
      height: 740px;
      background: linear-gradient(
          69.18deg,
          rgba(0, 0, 0, 0.1) 10.94%,
          rgba(255, 255, 255, 0.01) 48.96%,
          rgba(0, 0, 0, 0.1) 89.06%
        ),
        #11152f;
      backdrop-filter: blur(4px);
      border-radius: 40px;
      position: relative;
      border: 2px solid #92d1df;

      & .team-title {
        position: absolute;
        top: -40px;
        left: 50%;
        transform: translateX(-50%);
      }

      & .uk-slideshow-items {
        & > li .slide-item {
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        & .list {
          display: flex;
          justify-content: center;
          align-items: flex-start;

          & .profile-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            & .profile-avator {
              width: 280px;
              height: 280px;
              margin-bottom: 30px;
              & img {
                width: 100%;
                height: 100%;
              }
            }
            & .profile-name {
              font-weight: 800;
              font-size: 20px;
              line-height: 30px;
              color: #81fbfc;
              margin-bottom: 32px;
            }
            & .profile-desc ul {
              width: auto;
              font-size: 14px;
              line-height: 21px;
              color: #ffffff;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: flex-start;
            }

            &:not(:last-child) {
              margin-right: 200px;
            }
          }
        }
      }

      & > a svg {
        width: 26px;
        height: 50px;
        color: rgba(129, 251, 252, 0.6);
      }

      & .uk-dotnav li {
        & a {
          width: 50px;
          height: 10px;
          background: transparent;
          border: 1px solid #81fbfc;
          border-radius: 50px;

          &[class~='uk-active'] {
            background: #81fbfc;
          }
        }
        &[class~='uk-active'] a {
          background: #81fbfc;
        }
      }
    }

    & .slider-wrapper-mobile {
      display: none;
      width: 100%;
      height: 380px;
    }

    @include mediaSizeForCustom(1440px) {
      padding: 0px 30px;
      & .slider-wrapper,
      & .slider-wrapper-mobile {
        width: 100%;
        & .uk-slideshow-items {
          height: 100%;
        }
        & .uk-dotnav {
          margin-top: -50px !important;
        }
      }
    }

    @include mediaSizeForCustom(1024px) {
      & .slider-wrapper {
        display: none;
      }

      & .slider-wrapper-mobile {
        display: block;
        width: 1200px;
        height: 740px;
      }
    }

    @include mediaSizeForMobile() {
      height: 565px;
      & .slider-wrapper-mobile {
        width: 320px;
        height: 380px;

        & .team-title {
          position: absolute;
          top: -26px;
          left: 50%;
          transform: translateX(-50%);
          width: 130.97px;
          height: 50px;
        }

        & .uk-slideshow-items {
          & .list {
            & .profile-item {
              & .profile-avator {
                width: 120px;
                height: 120px;
                margin-bottom: 20px;
                & img {
                  width: 100%;
                  height: 100%;
                }
              }
              & .profile-name {
                font-size: 14px;
                line-height: 21px;
                margin-bottom: 4px;
              }
              & .profile-desc ul {
                font-size: 12px;
                line-height: 18px;
              }
            }
          }
        }

        & > a svg {
          width: 15.8px;
          height: 30px;
        }
      }
    }
  }

  &#partners {
    height: 1080px;
    background: #11152f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & .partners-title {
      width: 337px;
      height: auto;
      margin-bottom: 150px;
    }

    & .parters-list {
      display: flex;
      justify-content: center;
      align-items: center;

      & > div {
        width: 300px;
        height: 300px;
        background: rgba(41, 107, 154, 0.2);
        border: 3px solid #296b9a;
        border-radius: 100%;

        & > img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        &:not(:last-child) {
          margin-right: 100px;
        }
      }
    }

    @include mediaSizeForMobile() {
      height: 400px;
      & .partners-title {
        width: 168.67px;
        height: auto;
        margin-bottom: 50px;
      }

      & .parters-list {
        & > div {
          width: 120px;
          height: 120px;
          &:not(:last-child) {
            margin-right: 11px;
          }
        }
      }
    }
  }
}

footer {
  width: 100vw;
  height: 200px;
  background: #1c1c1c;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 260px;

  & .footer-links {
    display: flex;

    & .footer-column {
      font-size: 14px;
      line-height: 20px;
      color: #aaaaaa;

      & > p {
        margin-bottom: 20px;
      }

      & a {
        color: #aaaaaa;
      }

      &:not(:last-child) {
        margin-right: 100px;
      }
    }
  }

  & .footer-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    color: #aaaaaa;

    & .logo {
      width: 103px;
      height: auto;

      margin-bottom: 16px;
    }

    & > p {
      &:not(:last-child) {
        margin-bottom: 2px;
      }
    }
  }

  @include mediaSizeForCustom(1440px) {
    padding: 0px 100px;
  }

  @include mediaSizeForCustom(1024px) {
    padding: 0px 15px;
    & .footer-links {
      & .footer-column {
        &:not(:last-child) {
          margin-right: 30px;
        }
      }
    }
  }

  @include mediaSizeForMobile() {
    padding: 40px;
    height: auto;
    flex-direction: column;
    justify-content: flex-start;

    & .footer-links {
      display: flex;
      flex-direction: column;

      & .footer-column {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 56px;
        & > p {
          margin-bottom: 20px;
        }

        &:not(:last-child) {
          margin-right: 0px;
        }
      }
    }

    & .footer-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      & .logo {
        width: 205.95px;
        height: auto;
        margin-bottom: 55px;
      }

      & > p {
        &:not(:last-child) {
          margin-bottom: 2px;
        }
      }
    }
  }
}
